---
layout: default
title: "About"
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if site.profile %}
      <div class="profile float-{% if site.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if site.profile.image %}
          {% assign profile_image_path = site.url | append: site.baseurl | append: '/assets/img/' | append: site.profile.image %}
          {% if site.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw{% endcapture %}
          <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" alt="Profile Picture" sizes="{{ sizes }}">
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- CV Download Link -->
    <div>
      <h2></h2>
      <a href="{{ '/assets/pdf/Arastoo_Zibaeirad_CV.pdf' | relative_url }}" download style="text-decoration: underline;">
        Curriculum Vitae
      </a>
    </div>
    <br>

    <!-- Research Interests -->
    <div>
      <h2>Research Interests</h2>
      <hr>
      <p>Cybersecurity, LLM, Adversarial Machine Learning, Network, Cyber-physical Systems, Smart Grid</p>
    </div>
  

      <!-- Selected Publications -->
    <div>
      <br>
      <h2>Selected Publications</h2>
      <hr>
      <div style="clear: both; margin-bottom: 20px;">
        <img src="{{ '/assets/img/image1.png' | relative_url }}" alt="Publication 1" style="width: 150px; height: auto; float: left; margin-right: 20px;">
        <p><strong>Zibaeirad, Arastoo</strong>, Koleini, Farnoosh, Bi, Shengping, Hou, Tao, and Wang, Tao (2024). <a href="https://arxiv.org/abs/2407.07966" target="_blank">A Comprehensive Survey on the Security of Smart Grid: Challenges, Mitigations, and Future Research Opportunities</a>. <em>arXiv preprint arXiv:2407.07966</em>.</p>
      </div>
      <br>
      <br>
      <br>
      <div style="clear: both; margin-bottom: 20px;">
      <img src="{{ '/assets/img/image2.jpeg' | relative_url }}" alt="Publication 2" style="width: 150px; height: auto; float: left; margin-right: 20px;">
      <p><strong>Zibaeirad, Arastoo</strong>, & Vieira, M. (2024). SysLLMEval: A Benchmarking Framework for Evaluating Large Language Models in Software Vulnerability Detection and Patching. <em>Submitted to ACM International Conference on the Foundations of Software Engineering (FSE) 2025</em>.</p>
      <ul>
        <li>
          <strong>Abstract:</strong> <br><br>
      Given the promising capabilities of Large Language Models (LLMs) in code translation, researchers are now exploring their potential to automate software vulnerability detection (SVD) and patching (SVP). To advance LLM-based SVD and SVP, it is crucial to establish a benchmark, which will help in understanding their effectiveness and limitations. However, it remains uncertain whether LLMs can effectively understand and analyze complex real-world vulnerability patterns and provide appropriate patches. In this paper, we present SysLLMBench, a fully automated benchmarking framework to evaluate the ability of LLMs to detect and patch vulnerable code in C language. Our study includes 307 real-world vulnerabilities from the Linux kernel and includes a carefully curated dataset that captures both vulnerable and patched code, ensuring a diverse and representative testbed for evaluating LLM performance in SVD and SVP tasks. Such dataset, based on real-world scenarios, makes our work unique by providing a robust foundation for rigorous assessment. Our results reveal that LLMs often struggle with distinguishing between vulnerable and patched code. Additionally, in SVP tasks, these models tend to oversimplify the code, producing solutions that may not be directly usable without further refinement.
        </li>
      </ul>
    </div>



    </div>



    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
