---
layout: default
title: "About"
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if site.profile %}
      <div class="profile float-{% if site.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if site.profile.image %}
          {% assign profile_image_path = site.url | append: site.baseurl | append: '/assets/img/' | append: site.profile.image %}
          {% if site.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw{% endcapture %}
          <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" alt="Profile Picture" sizes="{{ sizes }}">
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- CV Download Link -->
    <div>
      <h2></h2>
      <a href="{{ '/assets/pdf/Arastoo_Zibaeirad_CV.pdf' | relative_url }}" download style="text-decoration: underline;">
        Curriculum Vitae
      </a>
    </div>
    <br>

    <!-- Research Interests -->
    <div>
      <h2>Research Interests</h2>
      <hr>
      <p>Large Language Models, software reliability, vulnerability detection</p>
    </div>
  

    <!-- Selected Publications -->
    <div>
      <br>
      <h2>Selected Publications</h2>
      <hr>

      <div style="clear: both; margin-bottom: 20px;">
        <img src="{{ '/assets/img/vulnsage.png' | relative_url }}" alt="Publication 3" style="width: 150px; height: auto; float: left; margin-right: 20px;">
        <p><strong>Zibaeirad, Arastoo</strong>, & Vieira, M. (2025). <a href="https://arxiv.org/pdf/2503.17885" target="_blank">Reasoning with LLMs for Zero-Shot Vulnerability Detection</a>. <em>arXiv preprint arXiv:2503.17885</em>.</p>
      </div>
      <br>
      <br>
      <br>

      <div style="clear: both; margin-bottom: 20px;">
        <img src="{{ '/assets/img/framework.png' | relative_url }}" alt="Publication 2" style="width: 150px; height: auto; float: left; margin-right: 20px;">
        <p><strong>Zibaeirad, Arastoo</strong>, & Vieira, M. (2024). <a href="https://arxiv.org/pdf/2409.10756" target="_blank">VulnLLMEval: A Framework for Evaluating Large Language Models in Software Vulnerability Detection and Patching</a>. <em>arXiv preprint arXiv:2409.10756</em>.</p>
      </div>
      <br>
      <br>
      <br>


      <div style="clear: both; margin-bottom: 20px;">
        <img src="{{ '/assets/img/image1.png' | relative_url }}" alt="Publication 1" style="width: 150px; height: auto; float: left; margin-right: 20px;">
        <p><strong>Zibaeirad, Arastoo</strong>, Koleini, Farnoosh, Bi, Shengping, Hou, Tao, and Wang, Tao (2024). <a href="https://arxiv.org/abs/2407.07966" target="_blank">A Comprehensive Survey on the Security of Smart Grid: Challenges, Mitigations, and Future Research Opportunities</a>. <em>arXiv preprint arXiv:2407.07966</em>.</p>
      </div>
    </div>




    </div>



    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
